<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启日志-->
        <setting name="logImpl" value="SLF4J"/>
        <!--开启驼峰命名法-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启全局延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 集合为空时强制返回空集合实例而不是mull -->
        <setting name="returnInstanceForEmptyRow" value="true" />
        <!-- 结果集中value为空时保留key -->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
</configuration>